@model DemoMVC.Models.Persona

@{
    ViewData["Title"] = "Crear Persona";
}

<h2 class="mb-3">Crear Persona</h2>

@using (Html.BeginForm("Crear", "Persona", FormMethod.Post, new { @class = "row g-3" }))
{
    <div class="col-md-6">
        @Html.LabelFor(m => m.Cedula, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(m => m.Nombre, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-4">
        @Html.LabelFor(m => m.Edad, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Edad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Edad, "", new { @class = "text-danger" })
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
        @Html.ActionLink("Cancelar", "Index", "Persona", null, new { @class = "btn btn-secondary" })
    </div>
}
